@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Bangers', cursive;

    
}
body{
    background-color: rgb(5, 5, 5);
    width: 100%;
}
.container{
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
}
.contentwrap{
    margin-top: 3rem ;
    padding-bottom: 6rem;
}
.navbar{
    font-size: 3rem;
    padding: 2rem;
    background-color: rgb(133, 10, 248);
    font-family: 'Bangers', cursive;
    color: rgb(243, 113, 26);
    letter-spacing: 0.2rem;
    /* width: 100%; */
}
input{
    padding: 1rem 4rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}
p{color: rgb(243, 113, 26);}
button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(248, 248, 248);
    margin: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    outline: none;
}
#output{
    color: rgb(243, 113, 26);;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}
footer{
    background-color: rgb(133, 10, 248);
    padding: 2rem ;
    box-sizing: border-box;
    /* margin-top: 2rem; */
    width: 100%;
    position: absolute;
    bottom: 0;
    height:6rem;
    
}

li{
    list-style: none;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    
}
a{
    color: rgb(243, 113, 26);
    border-radius: 1rem;
}
.noticediv{
    border: 1px solid red;
    width: 20rem;
    padding:1rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
}
.mainnotice{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.privacy{
    color: rgb(126, 3, 3);
    margin-top: 3rem;
    
}
.xyz {
    cursor: pointer;
    color: white;
    
}

@media only screen and (max-width:600px){
    img{
        width: 300px;
    }
}


