@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Bangers', cursive;
    box-sizing: border-box;
    
}
body{
    background-color: peru;
}
.container{
    text-align: center;
}
.contentwrap{
    margin-top: 3rem ;
    margin-left: 25%;
    border: 0.2rem solid white;
    padding: 0.5rem;
    width: 50vw;
    border-radius: 1rem;
    
    
}
.navbar{
    font-size: 3rem;
    padding: 2rem;
    background-color: rgb(133, 10, 248);
    font-family: 'Bangers', cursive;
    color: rgb(243, 113, 26);
    letter-spacing: 0.2rem;
}
input{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
}
button{
    padding: 1rem 5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(248, 248, 248);
    margin: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

